.nav{
    background-color: black;
    color: whitesmoke;
    height: 180px;
}
.pageTitle{
    margin-top: 70px;
}
.searchDiv{
    background-color:white;
    
}
.search{
    padding: 5px;
    width: 100%;
}